{% extends 'base.admin.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Product list</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">                                       <i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Products</li>
                        <li class="breadcrumb-item active">Product list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid list-products">
        <div class="row">
            <!-- Individual column searching (text inputs) Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Cars ({{ products|length }}) </h5><span>The searching functionality provided by DataTables is useful for quickly search through the information in the table - however the search is global, and you may wish to present controls that search on specific columns.</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive product-table">
                            <table class="display" id="basic-1">
                                <thead>
                                <tr>
                                    <th class="text-center">Image</th>
                                    <th>Details</th>
                                    <th>Price</th>
                                    <th>Colour</th>
                                    <th>puissance</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr>
                                    <td><a href="{{ path('app_prod', {'id': product.id }) }}"><img src="{{ product.url }}" alt=""></a></td>
                                    <td><a href="{{ path('app_prod', {'id': product.id }) }}">
                                            <h6> {{ product.marque }}</h6></a>
                                        <p>{{ product.modele }}</p>
                                    </td>
                                    <td>{{ product.price }} $</td>
                                    <td class="font-success">{{ product.couleur }}</td>
                                    <td>{{ product.puissance }} (ch) </td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Delete</button>
                                        <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Edit</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Individual column searching (text inputs) Ends-->
        </div>
    </div>
    <!-- Container-fluid Ends-->
{% endblock %}